.agregar-alumno-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #9AD3FE; /* Fondo */
}

.agregar-alumno-content {
    background-color: #384147;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
    color: white;
    width: 550px; /* Ancho ajustado */
    text-align: left;
}

/* ✅ Título */
.agregar-alumno-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* ✅ Formulario */
.agregar-alumno-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ✅ Contenedor de cada input alineado */
.agregar-alumno-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 25px;
}

    .agregar-alumno-group label {
        font-weight: bold;
        font-size: 16px;
        color: #F4E4BA; /* Color del texto */
        margin-bottom: 5px;
    }

    /* ✅ Inputs */
    .agregar-alumno-group input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: none;
        background-color: #D9D9D9;
        font-size: 16px;
    }

/* ✅ Contenedor de botones alineados */
.button-container {
    display: flex;
    justify-content: space-between; /* 🔹 Un botón a la izquierda y otro a la derecha */
    width: 100%; /*  Ocupa todo el ancho */
    margin-top: 15px; /*  Espaciado opcional */
}

/* ✅ Botón de "Agregar Alumno" alineado a la izquierda */
.agregar-alumno-btn {
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #8800ff;
    color: white;
    transition: background-color 0.3s ease-in-out;
    width: 130px;
}

    .agregar-alumno-btn:hover {
        background-color: #6a00cc;
    }

/*  Botón de "Capturar Huella" alineado a la derecha */
.capturar-huella-btn {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: red;
    color: white;
    transition: background-color 0.3s ease-in-out;
    width: 130px;
}

    .capturar-huella-btn:hover {
        background-color: #cc5200;
    }
