:root {
    background-color: #9AD3FE;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.register-container {
    background-color: #004080;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1); /* Sombra más pronunciada */
    text-align: center;
    width: 450px;
}

.register-title {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* Botones de selección */
.selector-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.selector-button {
    width: 48%;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #A0A0A0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 8px;
    border: none;
    text-align: center;
}

    .selector-button.selected {
        background-color: #D32F2F;
    }

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: calc(100% - 10px);
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
    text-align: center;
    font-size: 18px;
    outline: none;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin: 7px 0;
    box-sizing: border-box;
}

    .input-field:focus {
        background-color: #ececec;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

/* Botón de envío */
.submit-button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #531AEE;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 15px;
}

    .submit-button:hover {
        background-color: #3b10b0;
    }
