html, body {
    height: 100%;
    margin: 0;
    background-color: #9AD3FE; 
}

.login-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #9AD3FE);
}

.login-box {
    max-width: 450px;
    padding: 30px;
    background-color: #2E2E38;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
    text-align: center;
}

/* Imagen del birrete */
.birrete-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

h2 {
    color: white;
    font-size: 26px;
    margin-bottom: 10px;
}

/* Inputs */
.login-input {
    width: 100%;
    max-width: 350px;
    padding: 14px;
    border-radius: 10px;
    background-color: #D9D9D9;
    text-align: center;
    font-size: 18px;
    outline: none;
    margin: 7px auto;
    box-sizing: border-box;
    color: black;
    border: none;
}

/* Botón */
.login-button {
    width: 100%;
    max-width: 350px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #531AEE;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 15px;
}

    .login-button:hover {
        background-color: #4025A7;
    }

/* Línea divisoria */
.separator {
    width: 100%;
    max-width: 350px;
    border-top: 1px solid white;
    margin: 15px 0;
    opacity: 0.5;
}

/* Enlace de registro */
.register-link {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    color: white;
}

    .register-link a {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

        .register-link a:hover {
            text-decoration: underline;
        }

.forgot-password {
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

    .forgot-password a {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

        .forgot-password a:hover {
            text-decoration: underline;
        }
